{
  "submit": {
    "subject": "Ulmer-Winkel - Newsletter | Bitte bestätigen Sie Ihre Email-Adresse",
    "text": "Hallo, <br>Vielen Dank für Ihre Registrierung für unseren Newsletter. Um Ihre Email-Adresse zu bestätigen, klicken Sie bitte <a href='5b5c3771c1629.prepaiddomain.de/test/ulmer-winkel/newsletter/submit/index.php?id=\". $id .\"'>hier</a>.<br>Sollten Sie diesen Newsletter nicht bestellt haben, ignoerieren oder löschen SIe bitte diese Email.<br>Mit freundlichen Grüßen<br>Das Ulmer-Winkel Team<br><br>Diese Email wurde automatisch erstellt. Bitte antworten Sie nicht auf diese Email.'"
  }
}